:root {
    --color-white: rgba(255, 255, 245, 100);
    --color-black: #1a1e23;
    --color-purple: rgba(133, 10, 235, 92);
    --color-cyanBlue: rgb(136, 246, 251);
}

* {
   margin: 0;
   padding: 0;
}

body .corpo-principal {
    width: 100%;
    height: 100vh;
    background-color: #1a1e23;
}

body .corpo-principal header {
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: ; */
    height: 250px;
    background-color: var(--color-white);
    /* background-image: linear-gradient(to bottom left, var(--color-purple), var(--color-purple)); */
    margin-bottom: 3rem;
    padding-left: 3rem;
    border-radius: 0px 0px 170px 170px;
    box-shadow: 0px 1px 4px var(--color-    );
}

body .corpo-principal header p {
    font-size: 32px;
    color: var(--color-black);
}

body .corpo-principal .corpo-conteudo-principal .card {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 150px;
    background-color: var(--color-white);
    border: 1px solid var(--color-purple);
    border-radius: 16px;
    box-shadow: 8px 6px 8px var(--color-purple);
    top: 0;
    transition: top ease 0.5s;
}

body .corpo-principal .card:hover {
    top: -30px;
}

body .corpo-principal .corpo-conteudo-principal {
    display: flex;
    justify-content: space-evenly;
}

body .corpo-principal .corpo-conteudo-principal p {
    font-weight: bold;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

section span {
    position: absolute;
    bottom: 50px;
    background: var(--color-cyanBlue);
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px var(--color-cyanBlue);
    animation: transicao 4s linear infinite;
}

@keyframes transicao {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    99% {
        opacity: 1;
    }
    
    100% {
        transform: translateY(-1200%);
        opacity: 0;
    }
}