:root {
    --color-white: rgba(255, 255, 245, 100);
    --color-black: #1a1e23;
    --color-purple: rgba(133, 10, 235, 92);
    --color-cyanBlue: rgb(136, 246, 251);
}

html {
    font-family: 'Montserrat', sans-serif;
}

* {
   margin: 0;
   padding: 0;
}


.corpo-principal {
    width: 100%;
    height: 100vh;
    background-color: var(--color-purple);
    overflow-y: hidden;
}

/* .bolhas {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    margin-bottom: 8%;
    box-shadow: 0px 1px 4px var(--color-purple);
} */

/* header p {
    font-size: 56px;
    font-weight: bold;
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
} */

.corpo-principal span {
    position: absolute;
    top: 0px;
    background: var(--color-black);
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px var(--color-black);
    animation: transicao 4s alternate infinite;
}

.space {
    height: 230px;
}

.card-body {
    position: relative;
    border-radius: 20px;
    margin-left: 37%;
    background-color: var(--color-white);
    width: 360px;
    height: 180px;
    z-index: 9999999;
    box-shadow: 0 35px 80px rgba(255, 255, 255, 0.60);
    transition: 0.5s;
    margin-bottom: 26%;
}

.card-body:hover {
    width: 385px;
    height: 425px;
    transform: translate(-5%, -5%);
}

.card-header {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 175px;
    height: 175px;
    background-color: var(--color-white);
    border-radius: 20px ;
    box-shadow: 0 25px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card-body:hover .card-header{
    width: 195px;
    height: 195px;
}

.card-header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.card-description {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card-content {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.85s;
    transform: translateY(260px);
}

.card-body:hover .card-description .card-content {
    transform: translateY(0px);
}

.card-content h2 {
    font-size: 1.50rem;
    font-weight: 600;
    color: #1a1e23;
    line-height: 1.2rem;
}

h2 p {
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.5;
}

.card-content p {
    font-size: 1.05rem;
    font-weight: 500;
}

.btn-about-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn-about-more button {
    padding: 10px;
    border-radius: 6px;
    line-height: 0.75rem;
    font-size: 1rem;
    outline: none;
    border: none;
    background: var(--color-purple);
    color: var(--color-white);
    cursor: pointer;
}

button a {
    color: var(--color-white);
    text-decoration: none;
    transition: 0.2s;
}

button a:hover{
    color: var(--color-black);
}


.corpo-conteudo-secundario {
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    display: grid;
    grid-template-areas: 
    'cabecalho' 
    'conteudo'
    'rodape';
    grid-template-rows: auto 80vh auto;
    grid-template-columns: auto;
}

.cabecalho {
    background-color: aqua;
    grid-area: cabecalho;
} 

.conteudo {
    background-color: blueviolet;
    grid-area: conteudo;
}

.rodape {
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: .8rem;
    padding: 1rem;
    grid-area: rodape;
    text-align: center;
}