:root {
    --color-white: rgba(255, 255, 245, 100);
    --color-black: #1a1e23;
    --color-purple: rgba(133, 10, 235, 92);
    --color-cyanBlue: rgb(136, 246, 251);
}

* {
   margin: 0;
   padding: 0;
}

body .corpo-principal {
    width: 100%;
    height: 100vh;
    background-color: var(--color-white);
}

body .corpo-principal header {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    margin-bottom: 8%;
    border-radius: 0px 0px 170px 170px;
    box-shadow: 0px 1px 4px var(--color-purple);
}

body .corpo-principal header p {
    font-size: 56px;
    font-weight: bold;
    color: var(--color-white);
    font-family: 'Times New Roman', Times, serif;
}

body .corpo-principal header span {
    position: absolute;
    top: 0px;
    background: var(--color-purple);
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px var(--color-purple);
    animation: transicao 8s alternate infinite;
}

body .corpo-principal .corpo-conteudo-principal {
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
}

body .corpo-principal .corpo-conteudo-principal .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 150px;
    background-color: var(--color-white);
    border: 1px solid var(--color-purple);
    border-radius: 16px;
    box-shadow: 8px 6px 8px var(--color-purple);
    top: 0;
    transition: top ease 0.5s;
}

body div.corpo-principal div.corpo-conteudo-principal div.card:hover {
    top: -50px;
}

body .corpo-principal .corpo-conteudo-principal p {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

