@media only screen and (min-width: 1008px) {
    .space {
        height: 20%;
    }

    .div-home .card-content {
        padding: 55px;
    }

    /* .card-body:hover .card-description .card-content {
        transform: translateY(40px);
    } */

    .div-home .card-content h2 {
        font-size: 1.20rem;
    }

    h2 p {
        font-size: 0.55rem;
    }

    .div-home .card-content p {
        font-size: 0.95rem;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
    .space {
        height: 20%;
    }

    .div-home .card-content {
        padding: 68px;
    }
    
    /* .card-body:hover .card-description .card-content {
        transform: translateY(37px);
    } */

    .div-home .card-content h2 {
        font-size: 1.20rem;
    }

    .div-home h2 p {
        font-size: 0.55rem;
    }

    .div-home .card-content p {
        font-size: 0.95rem;
    }
}

@media only screen and (max-width: 640px) {
    .space {
        height: 20%;
    }

    .div-home .card-content {
        padding: 68px;
        transition: 0.65s;
    }

    /* .card-body:hover .card-description .card-content {
        transform: translateY(40px);
    } */

    .div-home .card-content h2 {
        font-size: 1.20rem;
    }

    .div-home h2 p {
        font-size: 0.55rem;
    }

    .div-home .card-content p {
        font-size: 0.95rem;
    }
}